div.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.interface h1 {
    text-align: center;
}

div.interface svg#alarm-icon {
    font-size: 2em;
}

div#alarm-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10em;
}

div#alarm-container a {
    margin-top: 1.2em;
}

div.card-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
